body{
    background-image: url(../image/imagespoker-32.jpg);
}
.titre{
    width: 800px;
    height: 200px;
    background-color:rgba(165, 42, 42, 0.83);
    text-align: center;
}
.machine{
    width: 800px;
    height: 500px;
    background-color:rgba(33, 33, 33, 0.6);
}
.credit{
    margin-right: 350px;
}
.score{
    margin-left: 50px;
}
.bouton{
    margin-top: 100px;
    margin-left: 500px;
    
}

.go{
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.p{
   color: white;
    background-color: brown;
    margin-right: 30px;
    margin-left: 30px;
    height: 80px;
}